<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">

    <!-- We just expose what is used -->
    <xacro:macro name="load_kortex_robot"
        params="
    parent
    *origin
    prefix
    arm
    dof
    use_fake_hardware:=false
    fake_sensor_commands:=false
    sim_gazebo:=false
    sim_isaac:=false
    isaac_joint_commands:=/isaac_joint_commands
    isaac_joint_states:=/isaac_joint_states
    initial_positions:=${dict(joint_1=0.0,joint_2=0.0,joint_3=0.0,joint_4=0.0,joint_5=0.0,joint_6=0.0,joint_7=0.0)}">

        <!-- Include and load arm macro files -->
        <xacro:include
            filename="$(find kortex_description)/arms/${arm}/${dof}dof/urdf/${arm}_macro.xacro" />
        <!-- Load the arm -->
        <!-- Set some defaults for robot_ip, vision, gripper, gripper_joint_name which are not important-->
        <xacro:load_arm
            parent="${parent}"
            prefix="${prefix}"
            dof="${dof}"
            robot_ip=""
            vision="True"
            gripper=""
            gripper_joint_name=""
            use_fake_hardware="${use_fake_hardware}"
            fake_sensor_commands="${fake_sensor_commands}"
            sim_gazebo="${sim_gazebo}"
            sim_isaac="${sim_isaac}"
            isaac_joint_commands="${isaac_joint_commands}"
            isaac_joint_states="${isaac_joint_states}"
            initial_positions="${initial_positions}">
            <xacro:insert_block name="origin" />
        </xacro:load_arm>

        <!-- Define tool frame for planning -->
        <!-- This is "universal" planning frame to which can be planned with an offset regardless of
        what tool might be attached -->
        <link name="${prefix}kortex_eef" />
        <joint name="${prefix}tool_frame_joint" type="fixed">
            <origin xyz="0 0 0" rpy="0 0 0" />
            <parent link="${prefix}${last_arm_link}" />
            <child link="${prefix}kortex_eef" />
            <axis xyz="0 0 0" />
        </joint>

    </xacro:macro>

</robot>